<script nonce="<%= nonce %>">
	"use strict";
	const dentalRadioBtn = document.getElementById("dentalRadio"),
		vetRadioBtn = document.getElementById("vetRadio"),
		searchForm = document.querySelector(".searchForm"),
		searchBtn = document.querySelector(".searchBtn");

	searchBtn.addEventListener("click", submitSearch);

	async function submitSearch(e) {
		e.preventDefault();

		const clinicName = document.getElementById("clinicName").value,
			state = document.getElementById("selectState").value,
			time = document.getElementById("selectTime").value;

		if (
			(dentalRadioBtn.checked || vetRadioBtn.checked) &&
			isValid(clinicName, state, time)
		) {
			let data = {
				clinicType: dentalRadioBtn.checked ? "Dental" : "Vet",
				searchCriteria: {},
			};

			if (clinicName) data.searchCriteria.clinicName = clinicName;
			if (state !== "Select state...")
				data.searchCriteria.state = state.split(",");
			if (time !== "Select appointment time...")
				data.searchCriteria.time = time;

			const response = await findClinics(data);
			if (
				!response /*no response*/ ||
				(!response.dentalClinics &&
					!response.vetClinics) /*empty response object*/
			) {
				alertClinicNotFound();
			} else if (response.dentalClinics) {
				appendResult(response.dentalClinics, "Dental");
			} else {
				appendResult(response.vetClinics, "Vet");
			}
		} else {
			showAlert("Please enter the right inputs for your search");
		}
	}

	function appendResult(results, type) {
		//Appends the fetched result to the UI
		const resultElements = createResultElements(results);
		document.getElementById("searchResult").innerHTML = `
				<div class="mt-5">
					<p class="text-center">
						Clinincs that match your search...
					</p>

					<div>
						<label class="text-info"
							>${type} clinics...</label
						>
					</div>

					<div>
						<div class="accordion accordion-flush m-2" id="accordionFlushExample">
							${resultElements}
						</div>
					</div>
				</div>`;
	}

	function createResultElements(results) {
		// Marks up the fetched results with html elements
		let resultContent = "";

		results.map((result, i) => {
			resultContent += `
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingOne">
										<button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${i}" aria-expanded="false" aria-controls="flush-collapse${i}">
											${result.name || result.clinicName}
										</button>
									</h2>
									<div id="flush-collapse${i}" class=" accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<p> name: <span class="ms-3">${result.name || result.clinicName}</span></p>
											<p> location: <span class="ms-3">${
												result.stateName ||
												result.stateCode
											}</span></p>
											<p> Open from: <span class="ms-3">${
												(result.availability &&
													result.availability.from) ||
												(result.opening &&
													result.opening.from)
											}</span> to <span>${
				(result.availability && result.availability.to) ||
				(result.opening && result.opening.to)
			}</span></p>
										</div>
									</div>
								</div>`;
		});

		return resultContent;
	}

	function isValid(clinicName, state, time) {
		if (
			clinicName !== "" ||
			state !== "Select state..." ||
			time !== "Select appointment time..."
		)
			return true;
		return false;
	}

	function showAlert(msg) {
		const existingAlertDiv = document.querySelector(".alertDiv");
		if (existingAlertDiv) existingAlertDiv.remove();

		const alertDiv = document.createElement("div");
		alertDiv.className = `alert-danger text-center alertDiv`;
		alertDiv.textContent = msg;
		searchForm.insertBefore(alertDiv, searchBtn.parentElement);

		setTimeout(removeAlert, 5000);
	}

	function removeAlert() {
		const existingAlertDiv = document.querySelector(".alertDiv");
		if (existingAlertDiv) existingAlertDiv.remove();
	}

	function alertClinicNotFound() {
		document.getElementById("searchResult").innerHTML = `
			<div class="alert alert-primary d-flex align-items-center mt-5" role="alert">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					fill="currentColor"
					class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
					viewBox="0 0 16 16"
					role="img"
					aria-label="Warning:"
				>
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</svg>
				<div> Sorry, no clinic matched your search!</div>
			</div>`;
	}

	async function findClinics(data) {
		try {
			const response = await axios.post(
				"http://localhost:5500/api/clinics-search",
				data
			);
			return response.data;
		} catch (error) {
			if (error.response) {
				showAlert(error.response.data);
			} else if (error.request) {
				showAlert(error.message);
			} else {
				console.log("Error", error.message);
			}
		}
	}
</script>
